
.white-background-button {
    height: 40px;
    padding: 10px 40px 10px 40px;
    color: #49B4BB;
    font-size: 18px;
    border: none;
    background-color: unset;
    cursor: pointer;
}

.white-background-button:hover {
    background: #D9F1F3;
    border-radius: 8px;
}
