
.green-background-button {
    border-radius: 8px;
    background: #49B4BB;
    height: 40px;
    padding: 10px 40px 10px 40px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    cursor: pointer;
}


.green-background-button:hover {
    background: #90D3D7;
}