<section class="login-main-section">
    <div>
        <div class="login-header">
            <img src="../../../assets/logo.svg">
            <h1>Medicar</h1>
        </div>
    
        <form class="login-form" 
              [formGroup]="loginForm" 
              (ngSubmit)="onSubmit()"
              id="loginform">
            <input class="login-data-input" placeholder="Email ou Login"/>
            <div class="login-password-container">
                <input class="login-data-input" placeholder="Senha"/>
                <button (click)="setEyeIcon()"
                        type="button"
                        style="cursor: pointer;">
                    <img [src]="getEyeIcon()" style="width: 24px; height: 24px">
                </button>
            </div>
            <label class="login-checkbox-section">
                <input type="checkbox" style="cursor: pointer;"/>
                Lembrar minha senha
            </label>
        </form>

        <div class="login-button-section">
            <button class="login-create-account-button"
                    type="button">
                Criar Conta
            </button>

            
            <button class="login-access-button" 
                    type="submit"
                    form="loginform">
                Acessar
            </button>
        </div>
    </div>
</section>