.login-main-section {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    display: flex;
    align-items: center;
}

.login-header > img {
    width: 50px;
    height: 50px;
}

.login-header > h1 {
    color: #444444;
    margin-left: 12px;
}

.login-form {
    width: 400px;
    margin-top: 42px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-data-input {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    border: 1px solid #A8A8A8;
    border-radius: 4px;
    color: #A8A8A8;
}

.login-data-input ::placeholder {
    color: #A8A8A8;
}

.login-data-input:focus {
    outline: none;
    border-color: #49B4BB;
}

.login-password-container {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #A8A8A8; 
    border-radius: 4px; 
    margin-bottom: 20px;
}

.login-password-container > input {
    width: 100%;
    border: none; 
    margin: 0;
}

.login-password-container > button {
    margin-right: 10px;
    background-color: unset;
    border: none;
}

.login-checkbox-section {
    display: flex;
    align-items: center;
    color: #A8A8A8;
}

.login-checkbox-section > input {
    width: 20px;
    height: 20px;
    border: 1px solid #A8A8A8;
    border-radius: 4px;

    margin-right: 8px;
}

.login-checkbox-section > input:checked {
    all: unset;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: #49B4BB;
    border-radius: 4px;
}

.login-button-section {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login-create-account-button {
    height: 40px;
    padding: 10px 40px 10px 40px;
    color: #49B4BB;
    font-size: 18px;
    border: none;
    background-color: unset;
    cursor: pointer;
}

.login-create-account-button:hover {
    background: #D9F1F3;
    border-radius: 8px;
}

.login-access-button {
    border-radius: 8px;
    background: #49B4BB;
    height: 40px;
    padding: 10px 40px 10px 40px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    cursor: pointer;
}


.login-access-button:hover {
    background: #90D3D7;
}