<section class="login-main-section">
    <div>
        <div class="login-header">
            <img src="../../../assets/logo.svg">
            <h1>Medicar</h1>
        </div>
        
        <form class="login-form">
            <h2>Criar sua conta</h2>
            <input class="login-data-input" placeholder="Email ou Login"/>
            <div class="login-password-container">
                <input class="login-data-input" placeholder="Senha"/>
                <img [src]="eyeIcon" style="width: 24px; height: 24px">
            </div>
            <label class="login-checkbox-section">
                <input type="checkbox" />
                Lembrar minha senha
            </label>
        </form>

        <div class="login-button-section">
            <button class="login-create-account-button">
                Criar Conta
            </button>

            
            <button class="login-access-button">
                Acessar
            </button>
        </div>
    </div>
</section>