<section class="home-main-section">
    <header class="home-header">
        <div class="home-header-content">
            <img src="../../../assets/logo.svg">
            <h1>Medicar</h1>
        </div>

        <div class="home-header-content">
            <p>Lucas Freitas</p>
            <button (click)="navigateToLogin()">
                Desconectar
            </button>
        </div>
    </header>

    <section class="home-appointment-section">
        <div class="home-appointment-header">
            <h2>Consulta Clínica</h2>

            <button>
                <img src="../../../assets//plus.svg"
                     style="width: 10px;"/>
                Nova Consulta
            </button>
        </div>

        <div class="home-appointment-list">
            <div class="home-appointment-list-labels">
                <p>Especialidade</p>
                <p>Profissional</p>
                <p>Data</p>
                <p>Hora</p>
            </div>
        </div>

        <div *ngFor="let appointment of appointmentsList"
             class="home-appointment-list-body">
            <p>{{appointment.specialty}}</p>
            <p>{{appointment.professional}}</p>
            <p>{{appointment.date}}</p>
            <p>{{appointment.hour}}</p>
            <button>
                <img src="../../../assets//close.svg"
                     style="width: 15px;"/>
                     Desmarcar
            </button>
        </div>
    </section>
</section>